 body {
   background-color: rgb(108, 241, 128);
   text-align: center;
 }

 h1, h2 {
   border: 2.5px solid black;
 }

 p {
   padding: 5px;
   border: 1.5px dashed black;
 }

 ol, ul, li {
   list-style-position: inside;
   text-align: center;
 }

 table, th, td {
   list-style-position: inside;
   border: 1px solid white;
   padding: 10px
 }

 table {
   width: 50%;
   margin-left: auto;
   margin-right: auto;
 }

 td {
   text-align: left;
 }